@font-face {
    font-family: 'SoucerSansPro';
    src: url('../fonts/sourceSansPro/SourceSansPro-Regular.ttf');
    font-size: 1em;
}

@font-face {
    font-family: 'SoucerSansProLight';
    src: url('../fonts/sourceSansPro/SourceSansPro-Light.ttf');
    font-size: 1em;
}

@font-face {
    font-family: 'QwitcherBold';
    src: url('../fonts/qwitcher/QwitcherGrypen-Bold.ttf');
    font-size: 1em;
}

@font-face {
    font-family: 'Qwitcher';
    src: url('../fonts/qwitcher/QwitcherGrypen-Regular.ttf');
    font-size: 1em;
}
header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 2;
}

#menu {
    align-items: center;
    
}


#menu li {
    display: block;
}

#menu li a {
    text-decoration: none;
    color: #5e2799;
    font-family: 'SoucerSansProLight';
    font-size: 1.3rem;
}

body {
    background-color: rgb(240, 190, 233);
}

.row {
    width: 100%;
}


#titulo h1 {
    color: #5e2799;
    text-align: center;
    font-family: 'QwitcherBold';
    font-size: 7.5rem;
}

#home {
    margin-top: 280px;
}


#produto img {
    max-width:200px;
    max-height:300px;

}


#contato h2 {
    text-align: center;
    font-family: 'SoucerSansPro';
    font-size: 4rem;
}

#contato p {
    text-align: justify;
    font-family: 'SoucerSansProLight';
    font-size: 1.2rem;
}

#redeSocial {
    width: 100%;
    text-align: center;
    
}

#redeSocial li {
    display: inline-block;
}

#redeSocial li a {
    text-decoration: none;
    margin: 5px;
    color: #5e2799;
}

#produto {
    position: relative;
}


#produto h2 {
    color: #5e2799;
    font-family: 'OpenSans-Light';
    font-size: 48px;
    text-transform: uppercase;
    text-align: center;
}

#produto hr {
    border: #fde192 solid 8px;
    width: 200px;
    margin: 0 auto;
}

#produto .roupa .items{
    align-items: center;
}

#produto .roupa {
    margin-top: 20px;
}

#produto .roupa h3 {
    color: #5e2799;
    font-size: 18px;
    font-family: 'OpenSans';
    font-weight: bold;
    margin-bottom: 0;
}

#produto .roupa time {
    color: #a7a7a7;
    font-size: 18px;
    font-family: 'OpenSans';
    font-weight: bold;
}

#produto .roupa .item-inner {
    padding: 10px;
}

#produto .roupa .item-inner img {
    width: 100%;
    
}
